@font-face {
	font-family: NG;
	src: url(../fonts/NanumGothic.eot);
	src: local(※), url(../fonts/NanumGothic.woff) format('woff')
}

body,table,input,textarea,select,button {
	font-family: 나눔고딕, NG, sans-serif !important;
}

a {
    text-decoration: none;
}

.navbar .nav > li > a {
    font-size: 14px;
}

.navbar{
	margin-top:10px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
}