.post-top-title h1{
	font-size:20px;
}
.post-top-title h2{
	font-size:19px;
}
.post-top-title h3{
	font-size:18px;
}
.post-top-title h4{
	font-size:16px;
}
.post-top-title h5{
	font-size:14px;
}
.post-top-title h6{
	font-size:12px;
}

.post-top-title blockquote p{
	font-size:12px;
}

.pagination ul > li a{
	    padding: 4px 8px;
}

tr:first-child > td {
    border-top: medium none !important;
}

.td-commitlog-img{
	width:32px;
}

.function-button {
	cursor: pointer;
	background-color: #1ABC9C;
	color: #fff;
	text-align: center;
	padding: 1px 4px 1px 4px;
	border: 1px solid #1ABC9C;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size:9px;
	white-space: nowrap;
	display:inline-block;
	margin-bottom:5px;

}


.function-button:hover {
	background-color: #1ED9B4;
	border-color: #1ED9B4;
}
.function-comment {
	background-color: #3498DB;
	border-color: #3498DB;
}

.function-comment:hover {
	background-color: #67addb;
	border-color: #67addb;
}

.function-file {
	background-color: #423B3B;
	border-color: #423B3B;
}

.function-file:hover {
	background-color: #645E5E;
	border-color: #645E5E;
}


.tag{
 font-size:10px;	
}

.tagsinput-add::before {
    content: "TAG";
    font-family: "Flat-UI-Icons";
}

#tagsinput_tagsinput{
	margin-top:3px;
	margin-bottom:0px;
}

.ui-btn-center{
margin: 0 auto;
}

.manage-title{
	text-align: center !important;
	font-weight: bold;
}

.manage-description{
	font-size:10px;
	padding-left:20px !important;
}

.syntaxhighlighter {
  font-size: 9px !important;
}

.chat-user {
	border-top: 0px  !important;
	padding-top: 10px !important;
	width:36px !important;
	padding-right: 4px !important;
}

.chat-bottom{
	border-top: none !important;
	font-size: 10px;
	white-space: nowrap;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.chat-top-title {
	font-size: 11px !important;
	letter-spacing: -0.5px !important;
	padding-top:6px !important;
	padding-bottom:0px !important;
	vertical-align: middle !important;
}

.chat-table
{
  margin-bottom:0px;
  table-layout:fixed;
}
.vertical-middle{
	vertical-align: middle !important;
	font-size:9px;
}

.repo-td{
	font-size:10px;
}

.ui-icon-gear:before{
	content:"" !important;
}

date{
	font-weight: 500 !important;
}

/* 경고창 */
.alert{
	display:block !important;
}

/* custom icons */
.ui-icon-searchfield:after{
background-color: #666666 !important;
}
.ui-icon:not(.ui-icon-loading){
    background-color: rgba(0, 0, 0, 0);
    }
.ui-icon-plus,.ui-icon-minus,.ui-icon-delete,.ui-icon-arrow-r,.ui-icon-arrow-l,.ui-icon-arrow-u,.ui-icon-arrow-d,.ui-icon-check,.ui-icon-gear,.ui-icon-refresh,.ui-icon-forward,.ui-icon-back,.ui-icon-grid,.ui-icon-star,.ui-icon-alert,.ui-icon-info,.ui-icon-home,.ui-icon-search,.ui-icon-searchfield:after,.ui-icon-checkbox-off,.ui-icon-checkbox-on,.ui-icon-radio-off,.ui-icon-radio-on,.ui-icon-email,.ui-icon-page,.ui-icon-question,.ui-icon-foursquare,.ui-icon-dollar,.ui-icon-euro,.ui-icon-pound,.ui-icon-apple,.ui-icon-chat,.ui-icon-trash,.ui-icon-mappin,.ui-icon-direction,.ui-icon-heart,.ui-icon-wrench,.ui-icon-play,.ui-icon-pause,.ui-icon-stop,.ui-icon-person,.ui-icon-music,.ui-icon-wifi,.ui-icon-phone,.ui-icon-power,.ui-icon-lightning,.ui-icon-drink,.ui-icon-android
	{
	background-color: rgba(0, 0, 0, 0);
}

.ui-icon-download-file {
	background-image: url(../img/glyphicons-halflings-white.png);
	background-repeat: no-repeat;
	background-position: -312px -144px;
}

.ui-icon-custom-icon {
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	width: 28px;
	height: 28px;
	border-radius: 0px;
	margin-top: -13px !important;
}

.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea
	{
	font-size: 10px !important;
}

.table th,.table td {
	padding: 4px;
}

h1,h2,h3 {
	line-height: 20px;
}

body {
	font-size: 16px;
	line-height: 19px;
	font-family: none !important;
}

.ui-body-c .ui-link {
	font-weight: normal;
}

.ui-body-c .ui-link:visited,.ui-body-c .ui-link:hover,.ui-body-c .ui-link:active
	{
	color: #000;
}

a {
	text-decoration: none !important;
}

a:hover,a:focus {
	color: #fff;
}

.none-color {
	color: #34495e;
}

.file-name-title {
	margin-top: 10px;
}

#sidenav>li.active a,#sidenav>li a:hover {
	margin-left: -10px;
	padding-left: 20px;
}

.post-button {
	width: 67px;
}

a.post-button {
	width: 44px;
}

.post-button>i {
	zoom: 1.2;
	-moz-transform: scale(1.2);
}

.title,.post-top-title {
	font-size: 12px !important;
	letter-spacing: -0.5px !important;
	
}

.post-top-title  img{
	width: 100%;
    max-width: 100%;
}

.title-write-span {
	margin-left: 0px;
}

.navbar .nav>li>a {
	font-size: 14px;
}

.post-top-title {
	padding-bottom: 1px !important;
}

.repost-top-title {
	font-size: 12px !important;
	letter-spacing: -0.5px !important;
	padding-bottom: 1px !important;
	font-weight: 500 !important;
}

.repost-right {
	text-align: right !important;
}

.td-chat-writer-img {
	padding-top: 10px !important;
	width: 36px;
}

.td-post-writer-img {
	padding-top: 10px !important;
	width: 32px !important;
}

.td-post-writer-img img{
	width: 32px  !important;
	min-width:32px;
}
	

.none-top-border {
	border-top: none !important;
}

.post-bottom {
	border-top: none !important;
	font-size: 12px;
	white-space: nowrap;
	width: 10px;
}

.post-bottom-tag {
	border-top: none !important;
	padding-top: 0px !important;
}

.post-bottom-tags {
	margin-left: 20px;
}


.td-commitlog-full-massage {
	font-size: 12px;
}

.td-button {
	width: 30px;
}


.td-filename,.td-time,.td-commitlog {
	font-size: 13px;
}

.p-button {
	font-size: 10px;
	margin-top: -5px;
}

.p-button-small {
	font-size: 8px;
	margin-top: -5px;
}

.tag-name {
	cursor: pointer;
	background-color: #1ABC9C;
	color: #fff;
	text-align: center;
	padding: 2px 5px 3px 5px;
	border: 1px solid #1ABC9C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 8px !important;
	white-space: nowrap;
}

.tag-name:hover {
	background-color: #1ED9B4;
	border-color: #1ED9B4;
}

.tag-function {
	background-color: #3498DB;
	border-color: #3498DB;
}

.tag-commit {
	background-color: #34495E;
	border-color: #34495E;
}

.tag-commit:hover {
	background-color: #557699;
	border-color: #557699;
}

.tag-private {
	background-color: #3498DB;
	border-color: #3498DB;
}

.tag-private:hover {
	background-color: #3CB1FF;
	border-color: #3CB1FF;
}

.tag-massage {
	background-color: #D94738;
	border-color: #D94738;
}

.tag-massage:hover {
	background-color: #F24F3F;
	border-color: #F24F3F;
}

.a-post-title,.a-post-title:hover {
	color: #000;
	text-decoration: none;
}

.span-button {
	margin: 2px 2px 0px;
	width: 24px;
	height: 26px;
	text-align: center;
	background-color: #16a085;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	border: 5px solid #16a085;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-bottom: 4px;
}

.span-button:hover {
	background-color: #1ABD9D;
	border-color: #1ABD9D;
}