* {
	font-size: 12px;
}

input{ 
text-align:center; 
}

.text{
	font-size: 14px !important;
}

a{
	text-decoration:none;
}

a[data-role="button"] {
	height: 36px
}

.ui-btn-inner {
	padding-top: 6px
}

.ui-header .ui-title {
	padding-top: 6px;
	font-size: 14px
}

textarea{
	font-size: 14px !important;
	min-height:400px;
	max-width:300px;
}

body {
	border: 2px solid red
}